<div id="profile" role="tabpanel" class="tab-pane fade">
  <h4>About Seller</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis culpa libero eaque ipsam qui eveniet,
    sapiente officiis in numquam atque.</p>
</div>
