<div class="col-md-6">
  <div class="content">
    <a href="<%= store_path(store) %>">
      <div class="grid">
        <figure class="effect-apollo" style="width: 550px; height: 300px;">
          <%= image_tag store.user.avatar(:original) %>
          <figcaption>
            <h3><%= store.name %></h3>
            <p><%= store.description %></p>
          </figcaption>
        </figure>
      </div>
    </a>
  </div>
</div>