//products
section.products {
  padding: 20px;
  background: white;
  &:nth-of-type(even) {
    background: $light_gray;
  }
}

//theater
.theater {
  background: $dark_gray;
  text-align: center;
  #stream {
    position: relative; //css bug currently
    display: inline-block;
    h2.sketch-only {
      @include align(both);
      color: white;
    }
  }
  .fake-video {
    max-height: 75vh;
  }
}

//panel & main
#main {
  max-height: 100vh;
  overflow-y: scroll;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 340px;
  border: 2px solid #83AF5D;
  background: white;
  &.open {
    right: 0;
    & + #main {
      margin-right: 340px;
    }
  }
  &.closed {
    right: -300px;
    & + #main {
      margin-right: 40px;
    }
  }
  .tab-content {
    height: 100%;
    position: relative;
    .nav-tabs {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .panel-toggle {
        float: left; padding: 5px;
        button { cursor: pointer;}
      }
    }
  }
}
#chat,
#profile {
  padding: 20px;
  padding-top: 62px;
}

//chat
#chat {
  height: 100%;
  padding-bottom: 145px;
  .messages {
    height: 100%;
    overflow: scroll;
    position: relative;
    .alert {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .chat-input {
    @include clearfix;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    textarea {
      width: 100%;
      resize: none;
      padding: 6px;
      font-size: 14px;
    }
    button { float: right; }
  }
}
