//products
section.products {
  padding: 20px;
  background: white;
  &:nth-of-type(even) {
    background: $light_gray;
  }
}

//theater
#store-headline {
  padding: 43px 20px 20px;
  margin-bottom: 0;
}
.theater {
  padding: 0 0 0 0;
  background: $dark_gray;
  text-align: center;
  #stream {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70vh;
    h2.sketch-only {
      @include align(both);
      color: white;
    }
    #stop-recording {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
    }
  }
  video,
  .fake-video {
    max-height: 70vh;
  }
}

//scroll function css
#main.scrolled #videos-container {
  position: fixed;
  top: 63px;
  right: 0;
  width: 337px;
}


//panel & main
#main {
  max-height: calc(100vh - #{$header_height});
  overflow-y: scroll;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 340px;
  border-left: 3px solid $brand;
  background: $light_gray;
  &.open {
    right: 0;
    & + #main {
      margin-right: 340px;
    }
  }
  &.closed {
    right: -300px;
    & + #main {
      margin-right: 40px;
    }
  }
  .tab-content {
    height: 100%;
    position: relative;
    .nav-tabs {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .panel-toggle {
        float: left; padding: 5px;
        button { cursor: pointer;}
      }
    }
  }
}
#chat,
#profile {
  padding: 20px;
  padding-top: 62px;
}

//chat
#chat {
  height: 100%;
  padding-bottom: 120px;
  .messages {
    height: 100%;
    overflow: scroll;
    position: relative;
    .user {
      font-weight: bold;
    }
    .alert {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .chat-input {
    @include clearfix;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    textarea {
      width: 100%;
      resize: none;
      padding: 6px;
      font-size: 14px;
    }
    button {
      display: none;
      float: right;
    }
  }
  @include respond-to(480px) {
    padding-bottom: 145px;
    .messages .chat-input button {
      display: block;
    }
  }
}

//profile
#profile {
  height: 100%;
  .wrapper {
    height: 100%;
    overflow: scroll;
    padding-right: 8px;
  }
}
